
:root.theme-dark {
  --page-background-image: url("../images/cover-image-dark.png");
  --color-bg: #000028;
  --color-text: #f1b2ce;
  --color-title: #db00ff;
  --color-accent: #ff0070;
  --color-header-button-hover: rgb(255, 0, 112, 0.5);
  --color-subtitle: #000028;
  --color-decorated-zone-title: #ff0070;
}