:root.theme-light {
  --page-background-image: url("../images/cover-image-light.png");
  --color-bg: #fff1f7;
  --color-text: #353430;
  --color-title: #ffc2e6;
  --color-accent: #ff8dcb;
  --color-header-button-hover: rgb(50, 49, 45, 0.4);
  --color-subtitle: #353430;
  --color-decorated-zone-title: #353430;
}